<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
    <nav>
     <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/pages/faq">FAQ</a></li>
       <li><a href="/pages/papers">Papers</a></li>
       <li><a href="/pages/datasets">Datasets</a></li>
       <li><a href="/pages/glossary">Glossary</a></li>
     </ul>
    </nav>



    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
