<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/FAQ">FAQ</a></li>
				<li><a href="/Papers">Papers</a></li>
				<li><a href="/Datasets">Datasets</a></li>
				<li><a href="/Questions">Questions</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:drugdesign@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thecentraldogma">github.com/thecentraldogma</a></li>
				</ul>
			</footer>
		</body>
	</html>
